.product img{
    width: 260px;
    height: 260px;
    padding: 10px 0px;
    padding-left: 17px;
    border-radius: 12px;
    
}
.product{
    width: 300px;
    height: 550px;
    border: 3px solid gray;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
}
.product-info{
    font-family: "Lato";
    padding-left: 17px;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 0px;
    

}
.btn-product{
    background-color: tomato;
    color: white;
    position: absolute;
    width: 100%;
    border: none;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 8px 8px;
}